<div style="height: 100%; width: 100%">
    <div data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-attach-point="containerWidget"
         style="height: 100%; width: 100%">
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-attach-point="topPaneWidget"
             data-dojo-props="region:'top'">
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-attach-point="leftPaneWidget"
             data-dojo-props="region:'left'">
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-attach-point="centerPaneWidget"
             data-dojo-props="region:'center'">
        </div>
        <div data-dojo-type="dijit/layout/AccordionContainer"
             data-dojo-attach-point="rightPaneWidget"
             data-dojo-props="region:'right'"
             style="width: 30%">
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-attach-point="bottomPaneWidget"
             data-dojo-props="region:'bottom'">
        </div>
    </div>
</div>
