<div style="height: 100%; width: 100%">
    <div id="body">
        <h1>Introducción</h1>
        <p>
            Las Tecnologías de la Información  y Comunicación (TICs), representan como a cambiado el modo y la manera de los procesos de desempeño del ser humano, la revolución digital ya han penetrado en los habitantes educativos y encontramos que para cada actividad educativa existe un medio tecnológico que lo facilita, tales como cuestionarios en línea, wikis, e-Book, weblogs y muchos más.
        </p>
        <p>
            De este modo las TICs han permitido que las distancias se acorten y el concepto de tiempo ofrece respuestas en dimensiones instantáneas. La realidad y la virtualidad se han unido en un solo sitio “El Ciberespacio”, esta es una ”capa de información digitalizada”, así como no desplazamos por la superficie del planeta, navegamos por el mar, etc. Ahora también navegamos por este ciberespacio a través de computadoras, las redes, el Internet, etc.
        </p>
        <p>
            Con esto en mente, se quiere crear un espacio donde se facilite el aprendizaje sobre los temas de electrónica, los componente, herramientas para el diagnóstico de circuitos electrónicos, con una plataforma virtual para profesores y alumnos involucrados en algún curso/materia relacionado con Electrónica. Ésta plataforma contribuye, mediante el uso de documentos, imágenes, videos y actividades (las cuáles estarán a cargo del profesor) al aprendizaje del alumno.
        </p>
    </div>
</div>