<div style="width: 100%;height: 100%" id="aba">
    <div data-dojo-type="dijit/MenuBar"
         data-dojo-attach-point="menuBarInicioWidget"
         style="width:100%;height: 25%; background-color:#efefef!important"
         id="idMenuInicio"
         data-dojo-props="dir:'rtl'">
        <div data-dojo-type="dijit/form/Button"
             data-dojo-attach-point="menuItemRegistrarse"
             data-dojo-props="iconClass: 'registroUsuarioIcon'"
             class="claro">
            <span>Registrarse</span>
        </div>
        <div data-dojo-type="dijit/form/Button"
             data-dojo-attach-point="menuItemIniciarSession"
             data-dojo-props="iconClass: 'entrarIcon'"
             >
            <span>Iniciar Sesion</span>
        </div>
        <div data-dojo-type="dijit/MenuBarItem"
             data-dojo-attach-point="menuItemUnirmeGrupo">
            <span>Unirme a Grupo</span>
        </div>
    </div>
</div>
