<div style="height: 100%; width: 100%">
    <div data-dojo-type="dijit/form/Form"
         data-dojo-attach-point="formRegistroWidget">
            <div data-dojo-type="dojox/layout/TableContainer"
                 data-dojo-attach-point="tableRegistroWidget"
                 data-dojo-props="cols:2"
                 >
                <div data-dojo-type="dijit/form/Button"
                     data-dojo-props="iconClass:'nombreIcon'"
                     style='background: white!important'
                     class='btnRegistroIcon'
                     disabled>
                </div>
                <div data-dojo-type="dijit/form/ValidationTextBox"
                     data-dojo-attach-point="nombreWidget"
                     required="true"
                     title="Nombre (s): "
                     data-dojo-props="
                     regExp:'[a-zA-Z áéíóúÁÉÍÓÚñÑ\s]+',
                     invalidMessage:'Solo caracteres simples o con acentos'"
                     >
                </div>
                <div data-dojo-type="dijit/form/Button"
                     data-dojo-props="iconClass:'nombreIcon'"
                     class='btnRegistroIcon'
                     disabled>
                </div>
                <div data-dojo-type="dijit/form/ValidationTextBox"
                     data-dojo-attach-point="apellidoPaternoWidget"
                     required="true"
                     data-dojo-props="
                     regExp:'[a-zA-Z áéíóúÁÉÍÓÚñÑ\s]+',
                     invalidMessage:'Solo caracteres simples o con acentos'"
                     title="Apellido paterno: ">
                </div>
                <div data-dojo-type="dijit/form/Button"
                     data-dojo-props="iconClass:'nombreIcon'"
                     class='btnRegistroIcon'
                     disabled>
                </div>
                <div data-dojo-type="dijit/form/ValidationTextBox"
                     data-dojo-attach-point="apellidoMaternoWidget"
                     required="true"
                     data-dojo-props="
                     regExp:'[a-zA-Z áéíóúÁÉÍÓÚñÑ\s]+',
                     invalidMessage:'Solo caracteres simples o con acentos'"
                     title="Apellido Materno: ">
                </div>
                <div data-dojo-type="dijit/form/Button"
                     data-dojo-props="iconClass:'correoIcon'"
                     class='btnRegistroIcon'
                     disabled>
                </div>
                <div data-dojo-type="dijit/form/ValidationTextBox"
                     data-dojo-attach-point="correoWidget"
                     required="true"
                     title="Correo: "
                     data-dojo-props="validator:dojox.validate.isEmailAddress,invalidMessage:'La dirección es invalida'">
                </div>
                <div data-dojo-type="dijit/form/Button"
                     data-dojo-props="iconClass:'userNameIcon'"
                     class='btnRegistroIcon'
                     disabled>
                </div>
                <div data-dojo-type="dijit/form/ValidationTextBox"
                     data-dojo-attach-point="userWidget"
                     required="true"
                     title="Usuario: ">
                </div>
                <div data-dojo-type="dijit/form/Button"
                     data-dojo-props="iconClass:'passwordIcon'"
                     class='btnRegistroIcon'
                     disabled>
                </div>
                <div data-dojo-type="dojox/form/PasswordValidator" 
                     name="password"
                     style="width: 20%!important">
                    <label>Contraseña: <input type="password" pwType="new" /></label><br>
                    <label>Repetir contraseña: <input type="password" pwType="verify" /></label><br>
                </div>
                <div data-dojo-type="dijit/form/Button"
                     data-dojo-props="iconClass:'tipoUsuarioIcon'"
                     class='btnRegistroIcon'
                     disabled>
                </div>
                <div data-dojo-type="dijit/form/Select"
                     title="Tipo de usuario"
                     data-dojo-attach-point="tipoUsuarioWidget">
                        <option value="maestro">Profesor</option>
                        <option value="alumno">Alumno</option>
                </div>
                <div data-dojo-type="dijit/form/Button"
                     data-dojo-props="iconClass:'generoIcon'"
                     class='btnRegistroIcon'
                     disabled>
                </div>
                <div data-dojo-type="dijit/form/Select"
                     title="Género"
                     data-dojo-attach-point="sexoUsuarioWidget">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                </div>
                <div data-dojo-type="dijit/form/Button"
                     data-dojo-props="iconClass:'calendarioIcon'"
                     class='btnRegistroIcon'
                     disabled>
                </div>
                <div data-dojo-type="dijit/form/DateTextBox"
                     title="Fecha de nacimiento"
                     data-dojo-attach-point="fechaNacWidget"
                     value="1996-12-11">
                </div>
                <div data-dojo-type="dijit/form/Button"
                     data-dojo-props="iconClass:'fotoIcon'"
                     class='btnRegistroIcon'
                     disabled>
                </div>
                <div data-dojo-type="dijit/form/DateTextBox"
                     title="Foto"
                     data-dojo-attach-point="fechaNacWidget"
                     value="1996-12-11">
                </div>
            </div>
            <div class="dijitDialogPaneActionBar"
                    style='background-color: #efefef!important; text-align: right!important'>
                <button data-dojo-type="dijit/form/Button" 
                        data-dojo-attach-point='btnRegistrarse'
                        type="submit" 
                        data-dojo-props='iconClass:"aceptarIcon"'
                        >Aceptar
                </button>
                <button data-dojo-type="dijit/form/Button"
                        data-dojo-attach-point='btnRegistroCancelar'
                        type="button"
                        data-dojo-props='iconClass:"cancelarIcon"'
                        >Cancelar
                </button>
            </div>
    </div>
</div>
